<!DOCTYPE html>
<html lang="en">
    <title>Record Your Courses</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">

    <link rel="stylesheet" href="./../css/popupS.css">


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
    <link rel="stylesheet" href="./../css/stylesheets.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <style>
    body,h1,h2,h3,h4,h5 {font-family: "Poppins", sans-serif}
    body {font-size:16px;}
    .w3-half img{margin-bottom:-6px;margin-top:16px;opacity:0.8;cursor:pointer}
    .w3-half img:hover{opacity:1}
  </style>
  <body>
    <!-- Sidebar/menu -->
    <nav class="w3-sidebar w3-red w3-collapse w3-top w3-large w3-padding" style="z-index:3;width:300px;font-weight:bold;" id="mySidebar"><br>
      <a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-hide-large w3-display-topleft" style="width:100%;font-size:22px">Fermer Menu</a>
      <div class="w3-container">
        <h3 class="w3-padding-64"><b>Record Your<br>Courses</b>
          <hr style="width:50px;border:5px solid white" class="w3-round">
        </h3>
      </div>
      <div class="w3-bar-block">
        <a href="#" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Accueil</a>
        <a href="#commandes" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Commandes<samp></samp></a>
        <a href="#videos-saved" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Vidéos enregistrées</a>
        <a href="#contact" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Contact</a>
      </div>
    </nav>

    <!-- Top menu on small screens -->
    <header class="w3-container w3-top w3-hide-large w3-red w3-xlarge w3-padding">
      <a href="javascript:void(0)" class="w3-button w3-red w3-margin-right" onclick="w3_open()">☰</a>
      <span>Record Your Courses</span>
    </header>

    <!-- Overlay effect when opening sidebar on small screens -->
    <div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

    <!-- !PAGE CONTENT! -->
    <div class="w3-main" style="margin-left:340px;margin-right:40px">

      <!-- Header -->
      <div class="w3-container" style="margin-top:80px" id="#">
        <h1 class="w3-jumbo"><b>Record Your Courses</b></h1>
        <h1 id="commandes" class="w3-xxxlarge w3-text-red" style="margin-top:2%"><b>Commandes.</b>
          <hr style="width:50px;border:5px solid red" class="w3-round">
        </h1>
      </div>


      <!-- Enregistrement -->
      <div class="w3-container">
        <h2 class="w3-xxxlarge w3-text-black"><b><i class="fa fa-play-circle-o"></i> Enregistrer.</b></h2>
      </div>
      <div class="w3-row-padding">

        <div>
          > Cliquer sur votre support de présentation pour lancer : Camera / Audio / Screen
        </div>

        <div class="container-icon">
          <div class="icon-ppt">
              <!--  <img id="button-start" src="./../images/IconPowerPoint.png" style="width:160px;height:160px" onclick="" alt="IconPowerPoint"> -->
              <img id="button-start" src="./../images/IconPowerPoint.png" style="width:140px;height:140px" onclick="" alt="IconPowerPoint">

              <br>
            <span>@PowerPoint</span>
            <br>
          </div>
          <div class="icon-ppt">
            <img id="button-start" src="./../images/IconLibreOffice.png" style="width:140px;height:140px" onclick="" alt="IconLibreOffice">
            <br>
            <span>@LibreOffice</span>
          </div>
          <div class="icon-ppt">
            <img id="button-start" src="./../images/IconAcrobatReader.png" style="width:140px;height:140px" onclick="" alt="IconAcrobatReader">
            <br>
            <span>@AcrobatReader</span>
          </div>
        </div>
        <!-- camera zone -->
        <br>
        <video id="gum" playsinline autoplay muted></video>
        <video id="recorded" playsinline loop></video>
      </div>

      <!-- Arrêter -->
      <div class="w3-container">
        <h2 class="w3-xxxlarge w3-text-black" style="margin-top:20px"><b><i class="fa fa-stop-circle-o"></i> Arrêter.</b></h2>
      </div>

      <div class="w3-row-padding">
        <div class="w3-half">

          <div>
            <button class="btn-stop" id="stop-record" hidden>Stop Recording</button>
            <button class="btn-stop" id="download" disabled>Download</button>
          </div>
          <br>
          <div>
              Sélectionner le format de la vidéo : <select id="codecPreferences" disabled></select>
          </div>
          <div>
              <h4>Media Stream Constraints options</h4>
              <p>Echo cancellation: <input type="checkbox" id="echoCancellation"></p>
          </div>
          <div>
              <span id="errorMsg"></span>
          </div>

        </div>
      </div>

      <!-- W3.CSS Container -->
      <div class="w3-light-grey w3-container w3-padding-16" style="margin-top:30px;padding-right:58px;height:4px"></div>

      <!-- Modal for full size images on click-->
      <div class="w3-container" style="margin-top:30px" id="">
        <h1 class="w3-xxxlarge w3-text-red"><b>Text modal.</b></h1>
        <hr style="width:50px;border:5px solid red" class="w3-round">
      </div>
      <div id="modal01" class="w3-modal w3-black" style="padding-top:0; margin-top:30px;" onclick="this.style.display='none'">
        <span class="w3-button w3-black w3-xxlarge w3-display-topright">×</span>
        <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
          <img id="img01" class="w3-image">
          <p id="caption"></p>
        </div>
      </div>

      <!-- Commandes -->
      <div class="w3-container" style="margin-top:20px">
        <p>We are a interior design service that focus on what's best for your home and what's best for you!</p>
        <p>Some text about our services - what we do and what we offer. We are lorem ipsum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
        dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor
        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
      </div>

      <!-- W3.CSS Container -->
      <div class="w3-light-grey w3-container w3-padding-16" style="margin-top:30px;padding-right:58px;height:4px"></div>

      <!-- Header -->
      <div class="w3-container" style="margin-top:20px" id="#">
        <h1 id="videos-saved" class="w3-xxxlarge w3-text-red"><b>Vidéos enregistrées.</b></h1>
        <hr style="width:50px;border:5px solid red" class="w3-round">
      </div>

      <!-- Videos saved-->
      <div class="w3-row-padding w3-grayscale" style="margin-top:3%">
        <div class="w3-col m4 w3-margin-bottom">
          <div class="w3-light-grey">
            <img src="/w3images/team2.jpg" alt="John" style="width:100%">
            <div class="w3-container">
              <h3>John Doe</h3>
              <p class="w3-opacity">CEO & Founder</p>
              <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
            </div>
          </div>
        </div>
        <div class="w3-col m4 w3-margin-bottom">
          <div class="w3-light-grey">
            <img src="/w3images/team1.jpg" alt="Jane" style="width:100%">
            <div class="w3-container">
              <h3>Jane Doe</h3>
              <p class="w3-opacity">Designer</p>
              <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
            </div>
          </div>
        </div>
        <div class="w3-col m4 w3-margin-bottom">
          <div class="w3-light-grey">
            <img src="/w3images/team3.jpg" alt="Mike" style="width:100%">
            <div class="w3-container">
              <h3>Mike Ross</h3>
              <p class="w3-opacity">Architect</p>
              <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
            </div>
          </div>
        </div>
      </div>

      <!-- W3.CSS Container -->
      <div class="w3-light-grey w3-container w3-padding-16" style="margin-top:30px;padding-right:58px;height:4px"></div>

      <!-- Contact -->
      <div class="w3-container" id="contact" style="margin-top:20px">
        <h1 class="w3-xxxlarge w3-text-red"><b>Contact.</b></h1>
        <hr style="width:50px;border:5px solid red" class="w3-round">
        <p>Do you want us to style your home? Fill out the form and fill me in with the details :) We love meeting new people!</p>
        <form action="/action_page.php" target="_blank">
          <div class="w3-section">
            <label>Name</label>
            <input class="w3-input w3-border" type="text" name="Name" required>
          </div>
          <div class="w3-section">
            <label>Email</label>
            <input class="w3-input w3-border" type="text" name="Email" required>
          </div>
          <div class="w3-section">
            <label>Message</label>
            <input class="w3-input w3-border" type="text" name="Message" required>
          </div>
          <button type="submit" class="w3-button w3-block w3-padding-large w3-red w3-margin-bottom">Envoyer votre Message</button>
        </form>
      </div>

    <!-- End page content -->
    </div>

    <!-- W3.CSS Container -->
    <div class="w3-light-grey w3-container w3-padding-16" style="margin-top:60px;padding-right:58px"><p class="w3-right">Logiciel créé par <a href="" title="" target="_blank" class="w3-hover-opacity">des étudiants en M2 MIAGE</a></p></div>

    <script>
    // Script to open and close sidebar
    function w3_open() {
      document.getElementById("mySidebar").style.display = "block";
      document.getElementById("myOverlay").style.display = "block";
    }

    function w3_close() {
      document.getElementById("mySidebar").style.display = "none";
      document.getElementById("myOverlay").style.display = "none";
    }

    // Modal Image Gallery
    function onClick(element) {
      document.getElementById("img01").src = element.src;
      document.getElementById("modal01").style.display = "block";
      var captionText = document.getElementById("caption");
      captionText.innerHTML = element.alt;
    }

    </script>

    <!-- include adapter for srcObject shim -->
    <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
    <script src="../../backend/js/recordCamera.js"></script>
    <script src="../../backend/js/recordScreen.js"></script>

  </body>
</html>
